{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}24 Game -- An Arithmetical Card Game{% endblock %}

{% block content %}
<p>Hello Corey, enjoy the game!     <i>-- Daddy</i></p>
<p>Ace is 1, Jack is 11, Queen is 12 and King is 13. Use addition, subtraction,
division and multiplication with following cards to get number 24.
All four cards must be used and only once.

</p>
<div class="container">
	<div class="row">
{% for card in cards %}
	<div class="col-xs-3">
		<image src='/static/img/{{ card }}.png' alt='{{ card }}' style="max-height:100%; max-width:100%"/>
	</div>
{% endfor %}
	</div>
</div>
<br/>
<p>
<div class="container">
	<div class="row">
		<div class ="col-sm-12">
			{% if yesnoanswer %}
			<div class="alert alert-success">{{ yesnoanswer }}</div>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<a href="/card24/" class="btn btn-success"><span class="glyphicon"></span>Get another one</a>
		</div>
		<div class="col-sm-3">
			<form action="/card24/" method="post">
				{% csrf_token %}
				{{ autoform.field.as_hidden }}
				<input type="submit" name="yesnoanswer" class="btn btn-info" value="Is there a way?">
			</form>
		</div>
		<div class="col-sm-3">
			<form action="/card24/" method="post">
				{% csrf_token %}
				{{ autoform.field.as_hidden }}
				<input type="submit" name="fullanswer" class="btn btn-info" value="Get the answer">
			</form>
		</div>
	</div>
</div>
</p>
<p>Enter the card values to check the result:</p>
<form action="/card24/" method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    {% buttons submit='Get Answer' name='fullanswer' %}{% endbuttons %}
</form>
{% if input_cards %}
{{ input_cards }}
<p>
{% if result %}
<ul>
{% for answer in result|safeseq %}
    <li>{{ answer }} </li>
{% endfor %}
</ul>
{% else %}
<p>Sorry, there is no way to get 24.</p>
{% endif %}
</p>
{% endif %}
</br>
</br>
</br>
{% endblock %}

